/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', 'Courier', 'Liberation Mono', 'Menlo', monospace;
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image.png);
  --main-title-color: #DB00FF;
  --main-title-shadow: #FF0070;
  --accent-color: #FF0070;
  --accent-color-hover: #FF007066;
  --main-text-color: #F1B2CE;
  --button-color: #FF0070;
  --button-color-active: #FF0070;
  --header__title-color: #000028;
  --section__title-color: #FF0070;
  --accent-decorated-color: #FF0070;
  --decoration-visible: visible;
} 
